@font-face {
	font-family: 'Avenir-Regular';
	src: url("../fonts/AvenirNextLTPro-Regular.woff") format('woff');
}
@font-face {
	font-family: 'Avenir-Medium';
	src: url("../fonts/AvenirLTStd-Medium.woff") format('woff');
}
@font-face {
	font-family: 'Avenir-Demi';
	src: url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
}
@font-face {
	font-family: 'Avenir-Demi-Medium';
	src: url('../fonts/AvenirNextLTPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Avenir-Bold';
	src: url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Circular-Std';
	src: url('../fonts/CircularStd-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Circular-Std-Medium';
	src: url('../fonts/CircularStd-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Circular-Std-Book';
	src: url('../fonts/CircularStd-Book.ttf') format('truetype');
}
@font-face {
	font-family: 'Circular-Std-Bold';
	src: url('../fonts/CircularStd-Bold.ttf') format('truetype');
}

